<!DOCTYPE HTML>
<html>
  <head>
    <link
      href="/css/bootstrap.css"
      rel='stylesheet'
      type='text/css' />
    <link
      href="/css/style.css"
      rel='stylesheet'
      type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
      rel='stylesheet'
      type='text/css'>
    <link
      href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'
      rel='stylesheet'
      type='text/css'>
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <script src="js/jquery.min.js"></script>

    <script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/js/query.contentcarousel.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>

    <link rel="stylesheet" href="/css/jquery-ui.css" />

  </head>
  <body>
    <div class="header-bottom">
      <div class="container">
        <div class="social">
          <ul>
            <li class="facebook">
              <a href="https://web.facebook.com/WorkoutCentroDeportivo/?locale=es_LA&_rdc=1&_rdr">
                <span></span>
              </a>
            </li>

            <li class="instagram">
              <a href="https://www.instagram.com/workoutsanfelipe/">
                <span></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <!-- menu -->
    {% include "./partials/menu.liquid" %}
    <!-- menu -->
    <div class="main">
      <div class="about_banner_img"><img
          src="/images/single_class.jpg"
          class="img-responsive"
          alt="" /></div>
      <div class="about_banner_wrap">
        <h1 class="m_11">Clases de
          <span class="class_1">KickBoxing</span>
        </h1>
      </div>
      <div class="border"></div>
      <div class="container">
        <div class="row single-top">
          <div class="col-md-8">
            <div class="single_class-left">
              <img src="/images/kickboxingclass.jpg" alt="" />
              <div class="singe_desc">
                <p>El kick boxing como tal es la combinación de dos disciplinas ya existentes previamente: el karate japonés y el boxeo occidental. Se trata de un deporte de contacto que alterna golpes propios del boxeo y patadas de artes marciales.
                </p>
                <ul class=single_grid>
                  <li class="grid1">
                    <h3 class="m_13">Entrenador</h3>
                    <img
                      src="/images/about_img3.jpg"
                      class="img-responsive"
                      alt="" />
                    <h4>Jhon<br><span class="m_text">Kick Boxing</span>
                    </h4>
                    <p></p>
                  </li>
                  <li class="grid3">
                    <h3 class="m_13">Precio de la clase</h3>
                    <ul class="list2_class">
                      <li>
                        <a href="#">3 dias<p class="price">$ 10.990
                          </p>
                        </a>
                        <div class="clear"></div>
                      </li>
                      <li>
                        <a href="#">7 dias<p class="price">$ 16.990
                          </p>
                        </a>
                        <div class="clear"></div>
                      </li>
                      <li>
                        <a href="#">15 dias<p class="price">$ 20.990
                          </p>
                        </a>
                        <div class="clear"></div>
                      </li>
                      <li>
                        <a href="#">50 dias<p class="price">$ 28.990
                          </p>
                        </a>
                        <div class="clear"></div>
                      </li>
                      <li>
                        <a href="#">60 dias<p class="price">$ 37.990
                          </p>
                        </a>
                        <div class="clear"></div>
                      </li>
                    </ul>
                  </li>
                  <div class="clear"></div>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 single_class-right">
            <ul class="single_times">
              <h3>HORAS
                <span class="opening">LABORALES</span>
              </h3>
              <li>
                <i class="calender"></i>
                <span class="week_class">Lunes</span>
                <div class="hours_class">7:00 - 22:00</div>
                <div class="clear"></div>
              </li>
              <li>
                <i class="calender"></i>
                <span class="week_class">Martes</span>
                <div class="hours_class">7:00 - 22:00</div>
                <div class="clear"></div>
              </li>
              <li>
                <i class="calender"></i>
                <span class="week_class">Miercoles</span>
                <div class="hours_class">7:00  - 22:00</div>
                <div class="clear"></div>
              </li>
              <li>
                <i class="calender"></i>
                <span class="week_class">Jueves</span>
                <div class="hours_class">7:00 - 22:00</div>
                <div class="clear"></div>
              </li>
              <li>
                <i class="calender"></i>
                <span class="week_class">Viernes</span>
                <div class="hours_class">7:00 - 22:00</div>
                <div class="clear"></div>
              </li>
              <li>
                <i class="calender"></i>
                <span class="week_class">Sabado</span>
                <div class="hours_class">7:00 - 16:00</div>
                <div class="clear"></div>
              </li>
              <li>
                <i class="calender"></i>
                <span class="week_class">domingo</span>
                <div class="hours_class">CERRADO</div>
                <div class="clear"></div>
              </li>
            </ul>
            <h3 class="m_4">Precio Por Membresia</h3>
            <div class="members">
              <h4 class="m_3">25% de Descuento para todos los miembros con tarjeta de membresia</h4>
              <p>descuentos en servicios y <br>tratamientos en el gimnacio para<br> todos los titulares con tarjeta de membresia</p>
              <div class="btn1">
                <a href="#">MAS</a>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <!--
      <div class="footer-bottom">
      <div class="container">
      <div class="row section group">
      <div class="col-md-4">
      <h4 class="m_7">Suscribete</h4>
      <form class="subscribe">
      <input
      type="text"
      value="Escribe tu Email"
      onfocus="this.value = '';"
      onblur="if (this.value == '') {this.value = 'Escribe tu Email';}">
      </form>
      <div class="subscribe1">
      <a href="#">Enviar Email<i class="but_arrow"></i>
      </a>
      </div>
      </div>
      <div class="col-md-4">
      <div class="f-logo">
      <img src="/images/logoooo.png" alt="" />
      </div>

      <p class="address">Phone :
      <span class="m_10">+56 9 9296 5149</span>
      </p>
      </div>
      <div class="col-md-4">
      <ul class="list">
      <h4 class="m_7">Menu</h4>
      <li>
      <a href="sobreNosotros">Sobre Nosotros</a>
      </li>
      <li>
      <a href="horario">Horarios</a>
      </li>
      <li>
      <a href="clases">Clases</a>
      </li>
      <li>
      <a href="contacto">Contacto</a>
      </li>
      </ul>
      </div>
      <div class="clear"></div>
      </div>
      </div>
      </div>
      <div class="copyright">
      <div class="container">
      <div class="social">
      <ul>
      <li class="facebook">
      <a href="https://web.facebook.com/WorkoutCentroDeportivo/?locale=es_LA&_rdc=1&_rdr">
      <span></span>
      </a>
      </li>

      <li class="instagram">
      <a href="https://www.instagram.com/workoutsanfelipe/">
      <span></span>
      </a>
      </li>
      </ul>
      </div>
      <div class="clear"></div>
      </div>
      </div>
      -->
      <!-- footer-->
      {% include "./partials/footer.liquid" %}
      <!-- footer-->
    </body>
  </body>
</html>