<!DOCTYPE HTML>
<html>
  <head>
    <link
      href="/css/bootstrap.css"
      rel='stylesheet'
      type='text/css' />
    <link
      href="/css/style.css"
      rel='stylesheet'
      type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
      rel='stylesheet'
      type='text/css'>
    <link
      href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'
      rel='stylesheet'
      type='text/css'>
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/js/jquery.contentcarousel.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
  </head>
  <body>
    <div class="header-bottom">
      <div class="container">
        <div class="social">
          <ul>
            <li class="facebook">
              <a href="https://web.facebook.com/WorkoutCentroDeportivo/?locale=es_LA&_rdc=1&_rdr">
                <span></span>
              </a>
            </li>

            <li class="instagram">
              <a href="https://www.instagram.com/workoutsanfelipe/">
                <span></span>
              </a>
            </li>

          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- start menu -->
    {% include "./partials/menu.liquid" %}

    <div class="main">
      <iframe
        width="100%"
        height="420"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.4528923325615!2d-70.72944554703399!3d-32.75371539448459!2m3!1f0!2f0!3f0!3m2!1i1022!2i768!4f13.1!3m3!1m2!1s0x968816ce221dbabd%3A0x1833fc9d890e7764!2sde%20Aconcagua%20-%20San%20Mart%C3%ADn%20133%2C%202172164%20San%20Felipe%2C%20Valpara%C3%ADso!5e0!3m2!1ses!2scl!4v1687734111206!5m2!1ses!2scl"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe><br/><small>
        <a
          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.4528923325615!2d-70.72944554703399!3d-32.75371539448459!2m3!1f0!2f0!3f0!3m2!1i1022!2i768!4f13.1!3m3!1m2!1s0x968816ce221dbabd%3A0x1833fc9d890e7764!2sde%20Aconcagua%20-%20San%20Mart%C3%ADn%20133%2C%202172164%20San%20Felipe%2C%20Valpara%C3%ADso!5e0!3m2!1ses!2scl!4v1687734111206!5m2!1ses!2scl"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></a>
      </small>
      <div class="about_banner_wrap">
        <h1 class="m_11">Contacto</h1>
      </div>
      <div class="border"></div>
      <div class="rwo contact">
        <div class="container">
          <div class="col-md-8 contact-top">
            <h3>Enviar tu Mensaje</h3>
            <p class="contact_msg">¡Nos pondremos en contacto contigo lo mas antes posible!</p>
            <form method="post" action="contact-post.html">
              <div class="to">
                <input
                  type="text"
                  class="text"
                  value="Name"
                  onfocus="this.value = '';"
                  onblur="if (this.value == '') {this.value = 'Nombre';}">
                <input
                  type="text"
                  class="text"
                  value="Email"
                  onfocus="this.value = '';"
                  onblur="if (this.value == '') {this.value = 'Email';}"
                  style="margin-left:20px">
              </div>
              <div class="text">
                <textarea
                  value="Message:"
                  onfocus="this.value = '';"
                  onblur="if (this.value == '') {this.value = 'Message';}">Mensaje:</textarea>
              </div>
              <div class="form-submit1">
                <input
                  name="submit"
                  type="submit"
                  id="submit"
                  value="Envie su Mensaje"><br>
              </div>
              <div class="clear"></div>
            </form>
          </div>
          <div class="col-md-4 contact-top_right">
            <h3>informacion de nuestros contactos</h3>
            <ul class="contact_info">
              <li>
                <i class="mobile"></i>
                <span>+56 9 9296 5149</span>
              </li>
              <li>
                <i class="message"></i>
                <span class="msg">WorkOut@gmail.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="trainers_middle_bottom">
        <div class="container">
          <div class="col-md-4">
            <div class="contact_hours">
              <ul class="times_contact">
                <h3>
                  <span class="opening">
                    Horario Semanal</span>
                </h3>
                <li>
                  <i class="calender"></i>
                  <span class="contact_week">Lunes</span>
                  <div class="hours1">
                    7:00 - 22:00</div>
                  <div class="clear"></div>
                </li>
                <li>
                  <i class="calender"></i>
                  <span class="contact_week">Martes</span>
                  <div class="hours1">
                    7:00 - 22:00</div>
                  <div class="clear"></div>
                </li>
                <li>
                  <i class="calender"></i>
                  <span class="contact_week">Miercoles</span>
                  <div class="hours1">
                    7:00 - 22:00</div>
                  <div class="clear"></div>
                </li>
                <li>
                  <i class="calender"></i>
                  <span class="contact_week">Jueves</span>
                  <div class="hours1">
                    7:00 - 22:00</div>
                  <div class="clear"></div>
                </li>
                <li>
                  <i class="calender"></i>
                  <span class="contact_week">Viernes</span>
                  <div class="hours1">
                    7:00 - 22:00</div>
                  <div class="clear"></div>
                </li>
                <li>
                  <i class="calender"></i>
                  <span class="contact_week">Sabado</span>
                  <div class="hours1">
                    6:00 - 16:00</div>
                  <div class="clear"></div>
                </li>
                <li>
                  <i class="calender"></i>
                  <span class="contact_week">Domingo</span>
                  <div class="hours1">Cerrado</div>
                  <div class="clear"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>

          <!--<div class="contact_bottom">
          <ul class="join_text">
          <h3>¿Desea Registrarse?<span class="m_26"></span>
          </h3>
          <p>ENTRE PARA CREAR UNA CUENTA NUEVA O INICIAR SECION EN UNA YA HECHA</p>
          </ul>
          <ul class="btn_contact">
          <a href="login">Registrate</a>
          </ul>
          <div class="clear"></div>
          </div>-->
          <div class="clear"></div>
        </div>
      </div>
      <!-- footer-->
      {% include "./partials/footer.liquid" %}
      <!-- footer-->
    </div>
  </body>
</html>