
<!DOCTYPE HTML>
<html>
<head>
<title>{{ title }}</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/js/jquery.min.js"></script>

<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/jquery.contentcarousel.js"></script>

<link rel="stylesheet" href="/css/jquery-ui.css" />
			  
</head>

<body>

	  <div class="header-bottom">
		 <div class="container">
			<div class="social">	
			   <ul>	
				  <li class="facebook"><a href="https://web.facebook.com/WorkoutCentroDeportivo/?locale=es_LA&_rdc=1&_rdr"><span> </span></a></li>
				  <li class="instagram"><a href="https://www.instagram.com/workoutsanfelipe/"><span> </span></a></li>				
			   </ul>
		   </div>
		   <div class="clear"></div>
		</div>
	  </div>

	  {% include "./partials/menu.liquid" %}

	<div class="main">
	   <div class="about_banner_img"><img src="/images/about_img.jpg" class="img-responsive" alt=""/></div>
		 <div class="about_banner_wrap">
      	    <h1 class="m_11">Nosotros</h1>
      	 </div>
      	 <div class="about-wrapper">
      	    <div class="container">
		       <div class="row about-top">			
				 <div class="col-md-7 about-left-text">
				   <h1><span class="m_12">Gimnacio WorkOut</span></h1>
				 </div>
                 <div class="clear"></div>	
               </div>
		    </div>
	      </div>
	      <div class="container">
	       <div class="about_trainer">
		      <h3 class="m_2">Nuestros entrenadores</h3>
		      <div class="row about_box">

		      	<div class="col-md-4">
				  <div class="box1">
				  	<div class="box1_left">
 					  <img src="/images/about_img3.jpg" class="img-responsive" alt=""/>				  		
					  <div class="desc1">
						<h3>jhon<br><span class="m_text">Kick Boxing</span></h3>
					 </div>
					</div>
					<div class="box1_right">
 					 <h4>Qualifications</h4>
 					 
 					  <h4>Speciality</h4>
 					 
				    </div>
				   <div class="clear"></div>
				  </div>
				</div>

				<div class="col-md-4">
				  <div class="box2">
				  	<div class="box1_left">
 					  <img src="/images/boxeoentrenador.jpg" class="img-responsive" alt=""/>				  		
					  <div class="desc2">
						<h3>Felipe<br><span class="m_text">Boxeo</span></h3>
					
				
					 </div>
					</div>
					<div class="box1_right">
 					 <h4 class="right_text">Qualifications</h4>
 					 
 					 <h4 class="right_text">Speciality</h4>
 					 
				    </div>
				   <div class="clear"></div>
				  </div>
				</div>
				
				<div class="col-md-4">
				  <div class="box1">
				  	<div class="box1_left">
 					  <img src="/images/pic4.jpg" class="img-responsive" alt=""/>				  		
					  <div class="desc1">
						<h3>Samanta<br><span class="m_text">Pilates</span></h3>				
					 </div>
					</div>
					<div class="box1_right">
 					 <h4>Qualifications</h4>
 					
 					  <h4>Speciality</h4>
 			
				    </div>
				   <div class="clear"></div>
				  </div>
				</div>
				<div class="clear"></div>
		     </div>
		     <div class="row about_box1">

			
	    <div class="login">
	  	    <div class="row login_details">
		 	  <div class="col-md-6">
				  <div class="join">
				  	 <h3>POR QUE UNIRSE  ?</h3>
					   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam<br> nibh euismod tincidunt ut laoreet dolore magna. </p>		
				  </div>
				</div>
				 <div class="col-md-6">
				  <div class="join-right">
				  	 <h3>¿DESEA REGISTRARSE?</h3>
				  	 <h4>sed diam nonummy nibh euismod</h4>
				  	 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam<br> nibh euismod tincidunt ut laoreet dolore magna . </p>	
				  	 <div class="buttons_login">
				  	 <div class="btn4">
				       <a href="registro">Registrate</a>
			         </div>	
			         
			         <div class="clear"></div>
		
				  <script src="/js/jquery-ui.js"></script>
				  <script>
				  $(function() {
				    $( "#datepicker" ).datepicker();
				  });
				  </script>
				  </div>
				  </div>
				</div>
				<div class="clear"></div>
		   </div>
	  </div>
	  
	  <div class="testimonial">
		 	<div class="container">
		 		<i class="quot"> </i>
		 	</div>
	   </div>
	   
	   
	   <!-- footer-->
	   {% include "./partials/footer.liquid" %}
	   <!-- footer-->
</body>
</html>