<div class="footer-bottom">
  <div class="container">
    <div class="row section group">
      <!--
      <div class="col-md-4">
      <h4 class="m_7">Suscribete</h4>
      <form class="subscribe">
      <input
      type="text"
      value="Escribe tu Email"
      onfocus="this.value = '';"
      onblur="if (this.value == '') {this.value = 'Escribe tu Email';}">
      </form>
      <div class="subscribe1">
      <a href="#">Enviar Email<i class="but_arrow"></i>
      </a>
      </div>
      </div>
      -->
      <div class="clear col-md-4"></div>
      <div class="col-md-4">
        <div class="f-logo">
          <img src="images/logoooo.png" alt="" />
        </div>

        <p class="address">Phone :
          <span class="m_10">+56 9 9296 5149</span>
        </p>
      </div>
      <div class="col-md-4">
        <ul class="list">
          <h4 class="m_7">Menu</h4>
          <li>
            <a href="sobreNosotros">Sobre Nosotros</a>
          </li>
          <li>
            <a href="horario">Horarios</a>
          </li>
          <li>
            <a href="clases">Clases</a>
          </li>
          <li>
            <a href="contacto">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <div class="social">
      <ul>
        <li class="facebook">
          <a href="https://web.facebook.com/WorkoutCentroDeportivo/?locale=es_LA&_rdc=1&_rdr">
            <span></span>
          </a>
        </li>

        <li class="instagram">
          <a href="https://www.instagram.com/workoutsanfelipe/">
            <span></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>