<div class="header-bottom">
  <div class="container">
    <div class="social">
      <ul>
        <li class="facebook">
          <a href="https://web.facebook.com/WorkoutCentroDeportivo/?locale=es_LA&_rdc=1&_rdr">
            <span></span>
          </a>
        </li>

        <li class="instagram">
          <a href="https://www.instagram.com/workoutsanfelipe/">
            <span></span>
          </a>
        </li>

      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>