<div class="menu" id="menu">
  <div class="container">
    <div class="logo">
      <a href="main"><img src="/images/logo.png" alt="" /></a>
    </div>
    <div class="h_menu4">
      <a class="toggleMenu" href="#">Menu</a>
      <ul class="nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="sobreNosotros">Sobre Nosotros</a>
        </li>
        <li>
          <a href="horario">Horarios</a>
        </li>
        <li>
          <a href="clases">Clases</a>
        </li>
        <li>
          <a href="contacto">Contacto</a>
        </li>
        <li>
          <a href="login">Inicio de Sesion</a>
        </li>
      </ul>
      <script type="text/javascript" src="/js/nav.js"></script>
    </div>
    <div class="clear"></div>
  </div>
</div>